<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("../partials/head.ejs") %>
  </head>
  <body id="page-top">
    <div id="wrapper">
      <%-include("../partials/header.ejs") %>
      <%-body%>
    <footer id="footer"><%-include("../partials/footer.ejs") %></footer>
    </div>        
    <%-include("../partials/scripts.ejs") %>
  </body>
</html>
